<%
=begin%>
 <h1>List of all the users</h1> 
<%
=end%>
<main id="home" class="page">
  <h1>Users</h1>
  <ul class="users-list">
    <% @users.each do |user| %>
      <li class="user-container">
        <div class="user-profile-pic">
          <%= link_to user_path(user) do %>
            <img src="<%= user.photo %>" alt="profile-picture">
          <% end %>
        </div>
        <div class="user-info">
          <h3><%= link_to user.name, user_path(user) %></h3>
          <p class="posts-counter">Number of posts: <%= user.posts_counter || 0 %></p>
        </div>
      </li>
    <% end %>
  </ul>
</main>
