* {
  background-color: azure;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
}

h1 {
  font-size: 30px;
  line-height: 2rem;
  text-align: center;
  margin: 30px auto;
  font-weight: bolder;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-container {
  display: flex;
  gap: 15px;
}

.user-container,
.post-container {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.user-profile-pic img {
  width: 100%;
  height: 100%;
}

.user-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.user-info :hover {
  background-color: aqua;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.posts-counter,
.coment-likes-data {
  font-size: 15px;
  font-weight: normal;
  display: flex;
  justify-content: end;
  color: gray;
}

.btn-container a {
  display: inline-block;
  color: #1f628d;
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 22px;
  text-decoration: underline;
}

article.user-bio {
  border: 1px dotted gray;
  margin: 20px 0 40px;
  padding: 12px 10px;
  text-align: left;
  line-height: 1.3;
}

.user-bio h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.user-bio .bio {
  font-size: 19px;
}

.post-container {
  margin-bottom: 20px;
}

.post-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.post-details .details {
  font-size: 18px;
  margin-bottom: 5px;
}

.btn-container.see-posts {
  display: flex;
  justify-content: center;
}

.user-container.posts {
  margin-bottom: 20px;
}

h2.title {
  font-size: 30px;
}

.user-name {
  font-size: 19px;
  margin-bottom: 10px;
  color: rgb(210, 57, 57);
}

.post-body {
  margin-top: 20px;
}

.post-body p {
  line-height: 1.5;
}

.comments-container,
.post-comments-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  padding: 8px 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.coment-likes-data.container {
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
}

.post-comments-container li,
.comments-container li {
  font-size: 18px;
  line-height: 1.5;
  padding: 0 15px;
}

.post-comments-container li:nth-child(even) p {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}

/* like and comment styles */

.interaction {
  display: flex;
  justify-content: space-between;
}

label {
  display: none;
}

textarea#comment_text,
textarea#post_text {
  display: block;
  width: 100%;
  height: 200px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

input[type="submit"] {
  background: #ff6347; /* Coral */
  background-image: -webkit-linear-gradient(top, #ff6347, #ff4500); /* Coral to OrangeRed */
  background-image: -o-linear-gradient(top, #ff6347, #ff4500);
  background-image: linear-gradient(to bottom, #ff6347, #ff4500);
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 3px #666;
  -moz-box-shadow: 0 1px 3px #666;
  box-shadow: 0 1px 3px #666;
  font-family: Courier, sans-serif;
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ff4500 4px; /* OrangeRed */
  text-decoration: none;
}

input[type="submit"]:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.post-inputs {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea#post_text {
  padding: 10px;
  resize: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#form-page {
  max-width: 400px;
}

#post-form-page {
  max-width: 600px;
}

/* like and comment styles end */

@media (min-width: 765px) {
  main {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  h3 a:hover {
    text-decoration: underline;
  }

  article.user-bio {
    max-width: 80%;
  }
}

.btn-container {
  display: flex;
  align-items: center;
}

.button-link {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.button-link:hover {
  background-color: aqua;
}
