* {
  background-color: azure;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: all 0.2s linear;
}

@import "font-awesome";

body {
  display: flex;
}

h1 {
  font-size: 30px;
  line-height: 2rem;
  text-align: center;
  margin: 30px auto;
  font-weight: bolder;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}

img[alt] {
  font-weight: normal;
  font-size: 13px;
}

main {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-container {
  display: flex;
  gap: 15px;
}

.user-container,
.post-container {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.user-profile-pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.user-profile-pic img {
  width: 100%;
  height: 100%;
}

.user-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.posts-counter,
.coment-likes-data {
  font-size: 15px;
  font-weight: normal;
  display: flex;
  justify-content: end;
  color: gray;
}

.btn-container a {
  display: inline-block;
  color: #1f628d;
  padding: 3px;
  margin: 20px 0;
  font-size: 22px;
  text-decoration: underline;
}

article.user-bio {
  border: 1px dotted gray;
  margin: 20px 0 40px;
  padding: 12px 10px;
  text-align: left;
  line-height: 1.3;
}

.user-bio h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.user-bio .bio {
  font-size: 19px;
}

.post-container {
  margin-bottom: 20px;
}

.post-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.post-details .details {
  font-size: 18px;
  margin-bottom: 5px;
}

.btn-container.see-posts {
  display: flex;
  justify-content: center;
}

.user-container.posts {
  margin-bottom: 20px;
}

h2.title {
  font-size: 30px;
}

.user-name {
  font-size: 19px;
  margin-bottom: 10px;
  color: #1f628d;
  font-style: italic;
}

.post-body {
  margin-top: 20px;
}

.post-body p {
  line-height: 1.5;
  font-size: 20px;
}

.comments-container,
.post-comments-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  padding: 8px 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.coment-likes-data.container {
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
}

.post-comments-container li,
.comments-container li {
  font-size: 18px;
  line-height: 1.5;
  padding: 0 15px;
}

.post-comments-container li:nth-child(even) p {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
}


/* like and comment styles */

.interaction {
  display: flex;
  justify-content: space-between;
}

textarea#comment_text,
textarea#post_text {
  display: block;
  width: 100%;
  height: 200px;
  padding: 10px 5px;
  resize: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.actions {
  text-align: center;
}

input[type="submit"]:not([value="delete post"]) {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #db3434, #ab1212);
  background-image: -o-linear-gradient(top, #db3434, #b92929);
  background-image: linear-gradient(to bottom, #db3455, #b92929);
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 3px #666;
  -moz-box-shadow: 0 1px 3px #666;
  box-shadow: 0 1px 3px #666;
  font-family: Courier, sans-serif;
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 4px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

#dell-post-btn {
  border: none;
  display: flex;
  justify-content: flex-end;
}

#dell-post-btn input {
  border: none;
  color: red;
  font-weight: normal;
  cursor: pointer;
  font-style: italic;
  transition: all 0.2s ease-in;
  font-size: 15px;
}

#dell-post-btn input:hover {
  text-decoration: underline;
  letter-spacing: 1px;
}

input[type="submit"]:not([value="delete post"]):hover {
  background: #5c3cfd;
  text-decoration: none;
}

.post-inputs {
  display: flex;
  flex-direction: column;
}

label:not([for^="user_remember_me"]) {
  display: none;
}

label[for="user_remember_me"] {
  font-size: 18px;
}

em.info {
  font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 8px 5px 12px;
  resize: none;
  overflow: hidden;
  outline: none;
  border: none;
  border-bottom: 2px solid #666;
  width: 100%;
}

input[type="checkbox"] {
  background-color: #3498db;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 3px solid #3498db;
}

.notice,
.alert {
  font-size: 16px;
  font-weight: normal;
  color: #3498db;
}

form,
#form-page form,
#post-form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#form-page {
  max-width: 400px;
}

#post-form-page {
  max-width: 600px;
}

h2.form-title {
  text-align: center;
  margin: 10px 0 20px;
}

.shared-links a {
  display: block;
  color: #666;
  text-decoration: underline;
  font-weight: normal;
}

.shared-links {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 50px;
  gap: 12px;
}

.signout-container a {
  color: #1f628d;
  text-decoration: none;
  font-size: 20px;
}

.shared-links a:hover {
  color: #3498db;
  letter-spacing: 2px;
  text-decoration: underline;
}

/* sign out button */
.signout-container {
  text-align: center;
  margin-top: 20px;
  border-color: gray;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  margin-left: 92%;
  border-radius: 25px;
}

.signout-container a:hover {
  text-decoration: underline;
  background-color: #435059;
  color: whitesmoke;
}

/* sign out button ends */

#log-in-page a {
  color: rgb(10, 21, 81);
  font-size: 16px;
  text-decoration: none;
  display: block;
  flex: 1;
  letter-spacing: normal;
}

#log-in-page a:hover {
  text-decoration: underline;
  background-color: #435059;
  color: whitesmoke;
}

.shared-links.sign-up {
  display: block;
}

section.flex {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  overflow: hidden;
}

section.flex div:nth-child(odd) {
  position: relative;
  top: 10px;
}

li.comment-box {
  gap: 30px;
  align-items: center;
}

li.comment-box form button {
  border: none;
}

li.comment-box form .del-post-btn #delete {
  border: none;
  background: none;
  background-image: inherit;
  background-color: inherit;
  color: rgb(250, 158, 158);
  font-weight: normal;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  outline: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  left: 3.5rem;
  bottom: 5px;
}

li.comment-box form .del-post-btn #delete:hover {
  color: red;
  font-weight: bolder;
}

/* like and comment styles end */

.form-size {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
}

@media (min-width: 765px) {
  main {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main div.page {
    width: 100%;
  }

  h3 a:hover {
    text-decoration: underline;
  }

  article.user-bio {
    max-width: 80%;
  }

  #log-in-page {
    width: 410px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 8px 10px 12px;
    resize: none;
    overflow: hidden;
    outline: none;
    border: none;
    border-bottom: 2px solid #666;
    width: 100%;
  }

  li.comment-box {
    display: flex;
  }

  li.comment-box form .del-post-btn #delete {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .post-body p {
    line-height: 1.5;
  }
}
